nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: #0f172a;
}

nav h1 {
  color: white;
}

nav div {
  display: flex;
  gap: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}
