.sort-container {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 25px;
}

.sort-container label {
  font-weight: bold;
}

.sort-container select {
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}